
  <% if flash[:comment_notice] %>
    <div class="notice"><%= flash[:comment_notice] %></div>
  <% end %>

  <% if flash[:comment_error] %>
    <div class="error"><%= flash[:comment_error] %></div>
  <% end %>
