
<% page_name 'Access Denied' %>

<div class="main">
  <div class="error_page" style="width:700px;">
    <h2>Access Denied</h2>
    <div class="error">You don't have permission to perform this operation.</div>
  </div>
</div>
