
<% page_name 'Server Error' %>

<div class="main">
  <div class="error_page" style="width:700px;">
    <h2>Unexpected Failure</h2>
    <div class="error">An error occurred and wasn't possible to complete your request. Sorry for the inconvenience.</div>
  </div>
</div>
