
<% page_name 'Not Found' %>

<div class="main">
  <div class="error_page" style="width:700px;">
    <h2>Page Not Found</h2>
    <div class="error">The requested page could not be found.</div>
  </div>
</div>