
<% page_name 'Password Recovery' %>

<br><br>

<h2>Password Recovery</h2>

<%= render :partial => 'misc/flash', :locals => {:flash => flash} %>

<div class="fields_box" style="width:500px;">
  <% form_tag :action => 'index' do %>
    <br>
    <table>
      <tr>
        <td class="label">
          Email:
        </td>
        <td>
          <%= text_field_tag :email, params[:email], {:size => 60, :maxlength => 100, :focus => true} %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="center">
          <%= submit_tag 'Confirm', :class => 'submit' %>
        </td>
      </tr>
    </table>
  <% end %>
</div>

<br>

<div class="links bold">
  <%= link_to '[ login ]', login_path %>
</div>