
# Change the secret!!!

# Be sure to restart your server when you modify this file.

# Your secret key for verifying cookie session data integrity.
# If you change this key, all old sessions will become invalid!
# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.

if Rails.env.production?
  ActionController::Base.session = {:key => 'mogok_session', :secret => 'your_session_key_goes_here'}
else
  ActionController::Base.session = {:key => 'mogok_dev_session', :secret => '56r9diendje938jd73kjd8ej30jddndic9jdne7d39ej9dhd8dyhd'}
end

# Use the database for sessions instead of the cookie-based default,
# which shouldn't be used to store highly confidential information
# (create the session table with "rake db:sessions:create")
# ActionController::Base.session_store = :active_record_store
