
# Change the secret!!!

# Be sure to restart your server when you modify this file.

# Your secret key for verifying cookie session data integrity.
# If you change this key, all old sessions will become invalid!
# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.

ActionController::Base.session = {
  :key => '_mogok_session',
  :secret => '8b9ce1uio809j58902vfewjioty53dsfds879jd7d2590515a6c10b8ab8101155cd271eeb4d5a56a2fe49021e9a'
}

# Use the database for sessions instead of the cookie-based default,
# which shouldn't be used to store highly confidential information
# (create the session table with "rake db:sessions:create")
# ActionController::Base.session_store = :active_record_store