
<% page_name 'Reset Passkey' %>

<div class="main">
  <h2>Reset Passkey</h2>

  <div class="user_header"><%= user_link @user %></div>

  <div class="fields_box" style="width:550px;">    
    <% unless logged_user.admin? %>
      <br>
      <h3 class="grey">If you reset your passkey, you'll have to re-download all your active torrents.</h3>      
    <% end %>    
      
    <% form_tag :action => 'reset_passkey' do %>
      <table>
        <tr>
          <td class="center">
            <ul class="buttons">
              <li><%= submit_tag 'Confirm', :class => 'submit' %></li>
              <li><%= submit_tag 'Cancel', :name => 'cancel', :class => 'submit' %></li>
            </ul>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>