
<% page_name 'Send An Invitation' %>

<div class="main">
  <h2>Send an Invitation</h2>

  <%= render :partial => 'misc/flash', :locals => {:flash => flash} %>

  <div class="fields_box" style="width:400px;">
    <% form_tag :action => 'new' do %>
      <table>
        <tr>
          <td class="label">
            Email:
          </td>
          <td>
            <%= text_field_tag :email, params[:email], {:size => 45, :maxlength => 200, :focus => true} %>
          </td>
        <tr>
          <td colspan="2" class="center">
            <ul class="buttons">
              <li><%= submit_tag 'Send', :class => 'submit' %></li>
              <li><%= submit_tag 'Cancel', :name => 'cancel', :class => 'submit' %></li>
            </ul>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
