# *** restart the application after changing this file ***

# GENERAL

# application name (appears in the browse window)
app_name: Mogok

# default locale
default_locale: en

users:
  # default avatar image.
  default_avatar: no_avatar.jpg

torrents:
  # expiration time for the torrents browse cached pages (cache expires when a torrent is added or removed)
  refresh_minutes: 5

  # torrent file maximum size (such files are temporarily loaded in memory so be careful)
  file_max_size_kb: 256

  # set to false to block torrent uploads for non-admins (mainly for demo purposes)
  upload_enabled: true

  # period that a torrent remains labeled as new after it was uploaded
  new_period_minutes: 60

  # if set will be put in the beginning of the torrent file name(e.g [mogok]Test.torrent)
  file_prefix: mogok

  # if set will replace the original torrent file comment entry
  file_comment: Downloaded from Mogok

# size of pages when browsing data (aka pagination)
page_size:
  announce_logs: 50
  forum_posts: 20
  forum_search_results: 40
  forum_topics: 40
  logs: 50
  messages: 20
  peers: 50
  stats_history: 20
  torrents: 100
  torrent_comments: 20
  torrent_peers: 20
  torrent_rewards: 40
  torrent_snatches: 20
  users: 40
  user_activity: 20
  user_history: 20
  wishes: 40
  wish_bounties: 40

# browse table columns showed by default in a decrescent way when header is clicked the fist time
desc_by_default:
  announce_logs:
    - created_at
    - up_offset
    - down_offset
  torrents:
    - created_at
    - comments_count
    - snatches_count
    - seeders_count
    - leechers_count
  users:
    - uploaded
    - downloaded
    - ratio
  wishes:
    - created_at
    - total_bounty


# ADMINISTRATION

adm:
  # enable the passenger restart link also in production mode (env page)
  passenger_restart_production: false

  # display sensitive environment information in production mode (env page)
  display_env_info_production: false


# TRACKER

tracker:
  # set the url for an external tracker if necessary (check app/helpers/tracker_helper.rb)
  # external_url: http://host:port/tracker

  # if tracker accepts scrape requests
  scrape_enabled: true

  # announce response defaults
  announce_interval_seconds: 1800
  announce_min_interval_seconds: 1800
  announce_resp_max_peers: 30

  # if tracker does not accept unregistered bittorrent clients
  ban_unknown_clients: false

  # if announces from the bittorrent clients are to be logged
  log_announces: true








#
