
# include the cron jobs below with the command: whenever --update-crontab Mogok

# set :cron_log, '/var/vhosts/mogok/shared/cron.log' # commented as the app path may be different

every 1.hour, :at => 5 do
  runner 'BgTasks::Dispatcher.exec'
end