
<% page_name 'Message' %>

<div class="main">
  <div class="message_page" style="width:700px;">
    <h2><%= @args[:title] %></h2>

    <div class="message"><%= @args[:message] %></div>
    
  </div>
</div>
