
# A simple Capistrano recipe to provide a way for the 'sprinkle' installer connect
# to the server. Note that the user in this case must be able to act as sudo.

# user
  Capistrano::CLI.ui.say('Please provide the admin user credentials (must have sudo privileges):')
  set :user,     Capistrano::CLI.ui.ask(' > username: ')
  set :password, Capistrano::CLI.password_prompt(' > password: ')

# server
  set :domain, 'localhost'
  # set :port, 2222

# roles
  role :app, domain, :primary => true