
# Capistrano recipe to be used by the 'sprinkle' installer, note
# that the user in this case must be able to act as sudo.

# user
  Capistrano::CLI.ui.say('Please provide the user credentials (must have sudo privileges):')
  set :user,     Capistrano::CLI.ui.ask(' > username: ')
  set :password, Capistrano::CLI.password_prompt(' > password: ')

# server
  set :domain, 'localhost'
  set :port, 22

# roles
  role :app, domain, :primary => true

