
<% page_name 'Help' %>

<div class="main">
  <div class="content">
    <table>
      <tr>  
        <td>
          <br>
          <h2>Help</h2>
        </td>
      </tr>
      <tr>
        <td>
          Help content here.<br><br>
        </td>
      </tr>
    </table>
  </div>
</div>
