
<% page_name 'Home' %>

<div class="main">
  <div class="content">
    <table>
      <tr>  
        <td>
          <br>
          <h2>Welcome</h2>
        </td>
      </tr>
      <tr>
        <td>
          -
          <br>
          <br>
        </td>
      </tr>
    </table>
  </div>
</div>
