
<% page_name 'Staff' %>

<div class="main">
  <div class="content">
    <table>
      <tr>  
        <td>
          <br>
          <h2>Staff</h2>
        </td>
      </tr>
      <tr>
        <td>
          Staff content here.<br><br>
        </td>
      </tr>
    </table>
  </div>
</div>
